<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="<%= isActiveRoute("/", currentRoute) %>">Home</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute("/about", currentRoute) %>">About</a>
            </li>
            <li>
                <a href="/admin" class="<%= isActiveRoute("/admin", currentRoute) %>">Admin</a>
            </li>
            <li>
                <a href="/contact" class="<%= isActiveRoute("/contact", currentRoute) %>">Contact</a>
            </li>
            <li>
                <a href="/dashboard" class="<%= isActiveRoute("/dashboard", currentRoute) %>">Dashboard</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
    </div>

</header>